@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;500;600;700&display=swap"); /* @font-face {                font-family: AirbnbCereal;                src: url(font-family/AirbnbCereal-Book.ttf);            } */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Red+Hat+Display:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Red+Hat+Display:wght@400;500;600;700&display=swap");
html {
  scroll-behavior: smooth;
  transition: 1s all ease;
}
.font-be-vietnam {
  /* font-family: AirbnbCereal; */
  font-family: "Be Vietnam Pro", sans-serif;
}
:root {
  --dark-1: #08090d;
  --dark-2: #001d01;
  --champ-green: #0ddb93;
  --tile-grey: #939ea3;
  --border-grey: #304454;
}
.bg-dark-1 {
  background-color: var(--dark-1);
}
.bg-champ-green {
  background-color: var(--champ-green);
}
.text-dark-1 {
  color: var(--dark-1);
}
.text-dark-2 {
  color: var(--dark-2);
}
.text-tile-grey {
  color: var(--tile-grey);
}
:root {
  --light-1: #ffffff;
  --light-2: #f9fafe;
  --light-3: #fafafd;

  --dark-1: #16171c;
  --dark-2: #494c57;
  --dark-3: #171717;
  --dark-4: #202020;
  --dark-5: #151515;
  --dark-6: #0f0f0f;

  --subtleGrey-1: #f8f8fc;
  --subtleGrey-2: #989db1;
  --subtleGrey-3: #8d8f98;
  --subtleGrey-4: #9a9a9a;
  --subtleGrey-5: #ced2de;

  --subtleBlue-1: #34b3ff;
  --subtleBlue-2: #518cff;
  --subtleBlue-3: #4376db;
  --subtleBlue-4: #cce3ff;

  --subtleGreen-1: #00b67a;

  --lemonYellow: #f2ff57;
  --deepGrey: #2e2e2e;
  --navy-1: #313e60;
  --navy-2: #1c3055;
}

.font-body {
  font-family: "Inter", sans-serif;
}

.text-dark-1 {
  color: var(--dark-1);
}

.text-dark-2 {
  color: var(--dark-2);
}

.text-dark-3 {
  color: var(--dark-3);
}

.text-dark-4 {
  color: var(--dark-4);
}

.text-dark-5 {
  color: var(--dark-5);
}

.text-subtleBlue-1 {
  color: var(--subtleBlue-1);
}

.text-blue-1 {
  color: var(--subtleBlue-1);
}

.text-subtleGrey-1 {
  color: var(--ssubtleGrey-1);
}

.text-subtleGrey-2 {
  color: var(--subtleGrey-2);
}

.text-subtleGrey-3 {
  color: var(--subtleGrey-3);
}

.text-subtleGrey-4 {
  color: var(--subtleGrey-4);
}

.text-subtleGrey-5 {
  color: var(--subtleGrey-5);
}

.bg-light-1 {
  background-color: var(--light-1);
}

.bg-light-2 {
  background-color: var(--light-2);
}

.bg-light-3 {
  background-color: var(--light-3);
}

.bg-dark-5 {
  background-color: var(--dark-5);
}

.bg-subtleGreen {
  background-color: var(--subtleGreen-1);
}

.bg-subtleGrey-1 {
  background-color: var(--subtleGrey-1);
}

.text-px20 {
  font-size: 20px;
}

:root {
  --light-1: #ffffff;
  --light-2: #f9fafe;
  --light-3: #fafafd;

  --dark-1: #16171c;
  --dark-2: #494c57;
  --dark-3: #171717;
  --dark-4: #202020;
  --dark-5: #151515;
  --dark-6: #0f0f0f;

  --subtleGrey-1: #f8f8fc;
  --subtleGrey-2: #989db1;
  --subtleGrey-3: #8d8f98;
  --subtleGrey-4: #9a9a9a;
  --subtleGrey-5: #ced2de;

  --subtleBlue-1: #34b3ff;
  --subtleBlue-2: #518cff;
  --subtleBlue-3: #4376db;
  --subtleBlue-4: #cce3ff;

  --subtleGreen-1: #00b67a;

  --lemonYellow: #f2ff57;
  --deepGrey: #2e2e2e;
  --navy-1: #313e60;
  --navy-2: #1c3055;
}

.font-display {
  font-family: "Red Hat Display", sans-serif;
}

.text-light-1 {
  color: var(--light-1);
}

.text-light-2 {
  color: var(--light-2);
}

.text-light-3 {
  color: var(--light-3);
}

.text-dark-1 {
  color: var(--dark-1);
}

.text-dark-2 {
  color: var(--dark-2);
}

.text-dark-3 {
  color: var(--dark-3);
}

.text-dark-4 {
  color: var(--dark-4);
}

.text-dark-5 {
  color: var(--dark-5);
}

.text-subtleBlue-1 {
  color: var(--subtleBlue-1);
}

.text-subtleBlue-4 {
  color: var(--subtleBlue-4);
}

.text-subtleGrey-1 {
  color: var(--ssubtleGrey-1);
}

.text-subtleGrey-2 {
  color: var(--subtleGrey-2);
}

.text-subtleGrey-3 {
  color: var(--subtleGrey-3);
}

.text-subtleGrey-4 {
  color: var(--subtleGrey-4);
}

.text-subtleGrey-5 {
  color: var(--subtleGrey-5);
}

.bg-light-1 {
  background-color: var(--light-1);
}

.bg-light-2 {
  background-color: var(--light-2);
}

.bg-light-3 {
  background-color: var(--light-3);
}

.bg-dark-6 {
  background-color: var(--dark-6);
}

.bg-subtleGreen {
  background-color: var(--subtleGreen-1);
}

.bg-subtleGrey-1 {
  background-color: var(--subtleGrey-1);
}

.bg-deepGrey {
  background-color: var(--deepGrey);
}

.bg-lemonYellow {
  background-color: var(--lemonYellow);
}

.bg-navy-1 {
  background-color: var(--navy-1);
}

.w-screen-custom {
  width: 1560px;
}

.ring-subtleGrey-3 {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgba(141, 143, 152, var(--tw-ring-opacity));
}

.text-px20 {
  font-size: 20px;
}

.text-px32 {
  font-size: 32px;
}

.mb-18 {
  margin-bottom: 72px;
}

.ml-18 {
  margin-left: 72px;
}

.mt-18 {
  margin-top: 72px;
}

.-mt-13 {
  margin-top: -52px;
}

.bg-card-professional {
  background: linear-gradient(180deg, #518cff 0%, #4376db 100%);
}
.footer {
  background-image: url("../images/footer.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #000;
}
.footer footer {
  background-color: #000000b8;
}

#hello p,
#hello .heading {
  line-height: 4rem !important;
}
.border-bottom-dotted {
  border-bottom: 3px dotted #eee;
}
.w-100 {
  width: 200px;
}
.margin-auto {
  margin: 0 auto;
}
.go-to-top {
  position: fixed;
  bottom: 40px;
  right: 40px;
}
.go-to-top i {
  cursor: pointer;
  font-size: 40px;
  z-index: 9999;
}

.profile-badge--dark {
  margin: 0 auto;
}
.lb-container {
  background: #000 !important;
}
